
/* ================================= COMMON =============================== */


* {
  border: 1px solid red;
}


.container {
  padding-left: 8%;
  padding-right: 8%;
}

body {
  padding-top: 0%;
  --white-offwhite:#EFECEA;
  --orange-lightorange:#F3BC6A;
  --orange-visualidentityorange:#EEA225;
  --grey-visualidentitygrey:#666666;
  --black-offblack:#222221;
  background-color: var(--white-offwhite);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', sans-serif;
  color: var(--bs-blue);
}

p {
  font-family: 'Open Sans', sans-serif;
}

#ebec_pyramid h2 strong, #case_study_title, #innovative_design_title, #timetable h2 strong, #timetable_ebec_title, #timetable_tbec_title, #jury h2 strong, #partners h2 strong, #team_complete h2 strong {
  color: var(--orange-visualidentityorange);
}

#faqs_title {
  color: var(--white-offwhite);
}

#text-pyramid p, #jury p {
  color: var(--black-offblack);
}

.text-white {
  color: var(--white-offwhite);
}

.text-black {
  color: var(--black-offblack);
}

#ebec_pyramid h2, #categories_title, #timetable h2, #jury h2, #partners h2, #team_complete h2 {
  color: var(--grey-visualidentitygrey);
}

#ebec_pyramid .container, #categories .container, #partners .container {
  padding-bottom: 2rem;
}

#faqs .container {
  padding-bottom: 3rem;
}

/* ======================= HEADER AND STARTING SCREEN ======================= */

#header ul, #header li, #header a, #navbarNav {
    text-align: center;
}

#header .btn-primary {
    text-align: center;
    background-color: var(--orange-visualidentityorange);
    border-width: 2px;
    border-color: var(--orange-visualidentityorange);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.2rem;
    box-shadow: none !important;
}
#header .btn-primary:hover {
    color: var(--orange-visualidentityorange);
    border-color: var(--orange-visualidentityorange);
    border-width: 2px;
    background-color: #ffffff ;

 }
 #header .btn-primary:focus {
    background-color: #ffffff !important;
    border-color: #ff8427;
    box-shadow: none !important;
    color: #ff8427;
 }

#header_logo {
  height: 80px;
  width: inherit;
}

#header .container {
  padding-left: 6%;
  padding-right: 6%;
}

#header .navbar {
  padding-top: 0%;
  padding-bottom: 0%;
}

#header .hero {
 background-image: url('../img/photos/fotoheader.jpg');
 background-position: center;
 background-size: cover;
 background-attachment: fixed;
 position: relative;
 z-index: 2;
}

#header .hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #808080;
  z-index: -1;
  opacity: 65%;
 }
/* ============================= EBEC PYRAMID =============================== */

#v-pills-tab {
  padding: 3%;
  width: 85%;
}

#v-pills-home-tab, #v-pills-profile-tab, #v-pills-messages-tab {
  padding: 1%;
  width: 100%;
  height: 33.3%;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #col-pyramid {
    width: 80%;
  }

  #text-pyramid {
    width: 100%;
  }
 }

 #ebec_pyramid .nav-pills .nav-link.active, .nav-pills .show .nav-link {
   color: var(--bs-white);
   background-color: var(--white-offwhite);
 }

 #ebec_pyramid .nav-link.active img {
   outline-style: solid;
   outline-color: var(--orange-visualidentityorange);
   outline-width: 3px;
 }

 /* ============================== CATEGORIES ================================ */

 #categories {
   background-color: var(--orange-lightorange);
 }

 #categories_title strong {
   color: var(--bs-white);
 }

 #case_study, #innovative_design {
   background-color: var(--white-offwhite);
 }

 #categories p {
   color: var(--black-offblack);
 }

 /* =============================== PARTNERS ================================= */

 .logo-list {
     padding: 20px 0;
     text-align: center;
 }

 .logo-list img,  {
     display: inline-block;
     max-width: 100%;
     padding: 15px 0;
     transition: all 0.3s ease-in-out;
 }
 .logo-list img:hover {
     transform: scale(1.1);
 }

 @media (min-width: 992px) {
   .col-lg-1{
     flex:0 0 auto; width:12%
   }
 }

 /* ================================= FAQS =================================== */

 #faqs {
   background-color: var(--grey-visualidentitygrey);
 }

 #faqs .accordion-button, #faqs .accordion-body {
   background-color: var(--white-offwhite);
 }

 #faqs .accordion-button:not(.collapsed) {
     color: var(--black-offblack);
     background-color: var(--orange-lightorange);
 }

 #faqs .accordion-button:focus {
     z-index: 3;
     border-color: var(--orange-lightorange);
   }

 /* ================================= TEAM =================================== */

 .linkedin_logo {
   height: 70px;
 }

 .linkedin_logo_small {
   height: 27px;
 }

 .hover1 .hover2 {
   opacity: 0;
 }

 .hover1:hover .hover2 {
   opacity: 1;
   transition: 300ms;
 }

 .hover1:hover .imagehover {
   opacity: 0.3;
   transition: 300ms;
 }
