
/* ================================= COMMON =============================== */

/*
* {
  border: 1px solid red;
}
*/

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.section_title {
  margin-top: 90px;
}
.container {
  padding-left: 8%;
  padding-right: 8%;
}

body {
  padding-top: 0%;
  --white-offwhite:#EFECEA;
  --orange-lightorange:#F3BC6A;
  --orange-visualidentityorange:#EEA225;
  --grey-visualidentitygrey:#666666;
  --black-offblack:#0D0D0D;
  background-color: var(--white-offwhite);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', sans-serif;
  color: var(--bs-blue);
}

p {
  font-family: 'Open Sans', sans-serif;
}

#ebec_pyramid h2 strong, #case_study_title, #innovative_design_title, #timetable h2 strong, #timetable_ebec_title, #timetable_tbec_title, #previouseditions h2 strong, #jury_section h2 strong, #partners_section h2 strong, #team_complete h2 strong, #team_section h2 strong, #bestcoimbra_title strong, #tbec_title strong {
  color: var(--orange-visualidentityorange);
}

#faq_title {
  color: var(--white-offwhite);
}

#text-pyramid p, #jury_section p {
  color: var(--black-offblack);
}

.text-white {
  color: var(--white-offwhite);
}

.text-black {
  color: var(--black-offblack);
}

#ebec_pyramid h2, #categories_title, #timetable h2, #jury_section h2, #partners_section h2, #team_complete h2, #team_section h2, #bestcoimbra_title, #tbec_title {
  color: var(--grey-visualidentitygrey);
}

#ebec_pyramid .container, #categories_section .container, #partners_section .container {
  padding-bottom: 2rem;
}

#faq_section .container {
  padding-bottom: 3rem;
}

#categories, #schedule, #jury, #partners, #faq, #team{
  position: absolute;
  top: -60px;
}

#categories_section, #timetable, #jury_section, #partners_section, #faq_section, #team_section{
  position: relative;
}

#categories_section img, #timetable img {
  width: 100%;
  border-radius: 21px 21px 21px 21px;
}
/* ======================= HEADER AND STARTING SCREEN ======================= */

a {
  text-decoration: none;
  color: var(--grey-visualidentitygrey);
}

#pt{
  margin-left: 7 px;
}

#pt:hover{
  color: black;
}

#en:hover{
  color: black;
}
#barra{
  cursor: none;
}

.dropdown-menu{
  background-color:#ffffff;
  border-radius: 0;
  border-width: 1px;
  border-color: var(--orange-visualidentityorange);
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-item{
  color: var(--orange-visualidentityorange);
  font-family: 'Roboto Slab', sans-serif;
}

.dropdown-item:hover {
  background-color:var(--orange-visualidentityorange) ;
  color: #ffffff;
  font-family: 'Roboto Slab', sans-serif;
}

#reulamentodrop{
  background-color: #ffffff;
  color: orange;
  border-width: 1px;
  border-color: black;
}

#header ul, #header li, #header a, #navbarNav {
    text-align: center;
}

#header .btn-primary {
    text-align: center;
    background-color: var(--orange-visualidentityorange);
    border-width: 2px;
    border-color: var(--orange-visualidentityorange);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.2rem;
    box-shadow: none !important;
}
#header .btn-primary:hover {
    color: var(--orange-visualidentityorange);
    border-color: var(--orange-visualidentityorange);
    border-width: 2px;
    background-color: #ffffff ;

 }
 #header .btn-primary:focus {
    background-color: #ffffff !important;
    border-color: #ff8427;
    box-shadow: none !important;
    color: #ff8427;
 }

#header_logo {
  height: 80px;
  width: inherit;
}

#header .container {
  padding-left: 6%;
  padding-right: 6%;
}

#header .navbar {
  padding-top: 0%;
  padding-bottom: 0%;
}

#header .hero {
 background-image: url('../img/photos/4_2.png');
 background-position: center;
 background-size: cover;
 background-attachment: fixed;
 position: relative;
 z-index: 2;
 top: px;
}

#header .hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #808080;
  z-index: -1;
  opacity: 75%;
 }

  @media (max-width: 991.98px) {
    #header .btn-primary {
      margin-top: 3px;
      margin-bottom: 12px;
    }
  }
/* ============================= EBEC PYRAMID =============================== */

#v-pills-tab {
  padding: 3%;
  width: 85%;
}

#v-pills-home-tab, #v-pills-profile-tab, #v-pills-messages-tab {
  padding: 1%;
  width: 100%;
  height: 33.3%;
}

#img_FR, #img_NRR, #img_NRR {
  width: 100%;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #col-pyramid {
    width: 80%;
  }

  #text-pyramid {
    width: 100%;
  }
 }

 #ebec_pyramid .nav-pills .nav-link.active, .nav-pills .show .nav-link {
   color: var(--bs-white);
   background-color: var(--white-offwhite);
 }

 #ebec_pyramid .nav-link.active img {
   outline-style: solid;
   outline-color: var(--orange-visualidentityorange);
   outline-width: 3px;
 }

 /* ============================== CATEGORIES ================================ */

 #categories_section {
   background-color: var(--orange-lightorange);
 }

 #categories_title strong {
   color: var(--bs-white);
 }

 #case_study, #innovative_design {
   background-color: var(--white-offwhite);
 }

 #categories_section p {
   color: var(--black-offblack);
 }

 @media (min-width: 992px) {
   #case_study {
     width: 50%;
     height: auto;
   }
   #innovative_design {
     width: 50%;
     height: auto;
   }
  }

 /* =========================== PREVIOUS EDITIONS ============================ */

 #previouseditions .carousel {
   margin-bottom: 0rem;
 }

 #previouseditions img {
   object-fit: cover;
 }

@media (min-width: 992px) {

   #previouseditions .carousel-item img {
      position: absolute;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
    }
  .previous_1 img {
     object-position: center bottom;
   }

   .previous_10 img {
     object-position: right top;
   }

   .previous_6 img {
     object-position: right bottom;
   }
}


@media (min-width: 576px) and (max-width: 991.98px) {
   #previouseditions .carousel .carousel-item {
    height: 400px;
  }

   #previouseditions .carousel-item img {
      position: absolute;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
      height: 400px;
  }

  .previous_1 img, .previous_2 img {
   object-position: center bottom;
   }

   .previous_3 img, .previous_6 img {
     object-position: 30% bottom;
   }

   .previous_5 img {
     object-position: 60% bottom;
   }

   .previous_6 img, .previous_10 img {
     object-position: left bottom;
   }

 }

 @media (max-width: 575.98px) {
    #previouseditions .carousel .carousel-item {
     height: 300px;
   }

    #previouseditions .carousel-item img {
       position: absolute;
       height: 100%;
       max-width: 100%;
       object-fit: cover;
       top: 0;
       left: 0;
       height: 300px;
   }

   .previous_1 img, .previous_2 img {
    object-position: center bottom;
    }

    .previous_3 img, .previous_6 img {
      object-position: 30% bottom;
    }

    .previous_5 img {
      object-position: 60% bottom;
    }

    .previous_6 img, .previous_10 img {
      object-position: left bottom;
    }

 }


 /* =============================== PARTNERS ================================= */

 .logo-list {
     text-align: center;
 }

 .logo-list img,  {
     display: inline-block;
     max-width: 100%;
     padding: 15px 0;
     transition: all 0.3s ease-in-out;
 }
 .logo-list img:hover {
     transform: scale(1.1);
 }

 @media (min-width: 992px) {
   .col-lg-1{
     flex:0 0 auto; width:12%
   }
 }

 /* ================================= FAQ =================================== */

 #faq_section {
   background-color: var(--black-offblack);
 }

 #faq_section .accordion-button, #faq_section .accordion-body {
   background-color: var(--white-offwhite);
 }

 #faq_section .accordion-button:not(.collapsed) {
     color: var(--black-offblack);
     background-color: var(--orange-visualidentityorange);
 }

 #faq_section .accordion-button:focus {
     box-shadow: none;
     z-index: 3;
     border-color: var(--orange-visualidentityorange);
   }

#faq_section .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
 /* ================================= TEAM =================================== */

 .linkedin_logo {
   height: 70px;
 }

 .linkedin_logo_small {
   height: 27px;
 }

 .hover1 .hover2 {
   opacity: 0;
 }

 .hover1:hover .hover2 {
   opacity: 1;
   transition: 300ms;
 }

 .imagehover {
   width: 180px;
   height: 180px;
 }

 .hover2 {
   background: rgba(0,0,0,0);
 }

 .hover1:hover .imagehover {
   opacity: 0.3;
   transition: 300ms;
 }

.team-position {
  margin-bottom: 0.2rem !important;
  font-size: 1.1rem !important;
}

 #team_section .btn-primary {
     text-align: center;
     background-color: var(--orange-visualidentityorange);
     border-width: 2px;
     border-color: var(--orange-visualidentityorange);
     padding-left: 10px;
     padding-right: 10px;
     border-radius: 2;
     font-family: 'Roboto Slab', sans-serif;
     font-size: 1.2rem;
     box-shadow: none !important;
 }
 #team_section .btn-primary:hover {
     color: var(--orange-visualidentityorange);
     border-color: var(--orange-visualidentityorange);
     border-width: 2px;
     background-color: #ffffff ;

  }
  #team_section .btn-primary:focus {
     background-color: #ffffff !important;
     border-color: #ff8427;
     box-shadow: none !important;
     color: #ff8427;
  }

#team_section img {
  width: 50px;
  height: 50px;;
  padding: 0px;
  margin: 1px;
  opacity: 0.4;
}

#team_row {
  height: 50px;
}

 @media (max-width: 575.98px) {
   #team_section p {
     font-size: 1rem;
   }
 }
 @media (min-width: 576px) {
   #team_section p {
     font-size: 1.25rem;
   }
 }

#team_complete {
  margin-top: 70px;
}

/* JURY */

#jury_section .carousel-item > img {
    position: inherit;
    top: inherit;
    left: inherit;
    width: 180px;
    height: 180px;
    min-width: 0px;
}

#jury_section .carousel-item {
    height: 400px;
}

#jury_section .carousel {
    margin-bottom: 0;
}
