@font-face {
  font-family: "Dosis";
  src: url("../font/dosis-regular.eot");
  src: 
  url("../font/dosis-regular.woff") format("woff"),
  url("../font/dosis-regular.otf") format("opentype"),
  url("../font/dosis-regular.svg#filename") format("svg");
}


html {
    font-family:'Dosis';
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    background-color:  #5c84cc; 
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-repeat: repeat-y;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


input:invalid+span:after { 
    position: absolute; content: '✖'; padding-left: 5px; 
} 

input:valid+span:after { 
  position: absolute; content: '✓'; padding-left: 5px; 
}

textarea:invalid+span:after { 
    position: absolute; content: '✖'; padding-left: 5px; 
} 

textarea:valid+span:after { 
  position: absolute; content: '✓'; padding-left: 5px; 
}

#divForm{
  background-color: #c5d3ed;
  width: 70%;
  border-style: solid;
  border-color: #5e6363;
  border-width: 7px;
  border-radius: 3px;
  align-self: center;
  margin:auto;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin-bottom: 2%;
}

#divForm h2,textarea,input,label{
  margin-left: 3%;
}

#buttonSubmit{
  background-color: #555555; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border: 2px solid #9aa0a0;
  cursor: pointer;
  margin-bottom: 3%;
}

#buttonSubmit:hover {
    background-color: #9aa0a0;
    color: white;
    border: 2px solid #555555;
}

#nav{
  background-color: #9aa0a0;
  width: 100%;
  border-bottom: solid;
  border-bottom-width: 4px;
  border-bottom-color: #5e6363;
  margin-bottom: 3%;
}


@media only screen and (max-width: 940px) {
  #divForm h2,input,label{
    max-width: 55%;
  }
  textarea{
    max-width:70%;
  }
}

@media only screen and (max-width: 655px) {
  #divForm h2,textarea,input,label{
    max-width: 45%;
  }
  textarea{
    max-width: 80%;
  }
}

@media only screen and (max-width: 420px) {
  body{
    font-size: 12px;
  }
  textarea{
    max-width: 70%;
  }
}

@media only screen and (max-width: 940px) {
select {
  width: 75%;
  margin-left:5%;
}
}


@media only screen and (max-width: 655px) {
select {
  width: 50%;
  margin-left:3%;
}
}

@media only screen and (max-width: 420px) {
select {
  width: 25%;
  margin-left:1%;
}
}


textarea{
  border-style:solid;
  border-width: 2px;
  border-color: rgba(154, 160, 160, 0.6);
  border-radius: 3px;
  background-color: #f4f4f4;
}

input[type="text"]{
  font-family: Dosis;
  border: 1px solid #aaa;
  border-radius: 5px;
  color: #444;
  line-height: 18px;

  background-color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fff), color-stop(50%, #f6f6f6), color-stop(52%, #eee), to(#f4f4f4));
  background: linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
}
textarea:focus, input[type="text"]:focus {   
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
    border-radius: 3px;
}