
p {
    font-size: 14pt;
    font-weight: normal;
    padding-top: 2vh;
}


/*COLUMNS*/

.col {
    height: 82%;
    display: inline-block;
    transition: width 700ms ease;
}

.col ul {
    list-style: none;
    padding: 3vh 3vw;
    height: 100%;
}


/*LEFT*/

.col-left {
    width: 40%;
    float: left;
    position: relative;
}

.col-left p {
    position: absolute;
    text-align: left;
    margin-top: 20vh;
    padding-left: 3vw;
    left: 10vw;
}


/*RIGHT*/

.col-right {
    width: 60%;
    float: right;
}

.col img {
    padding-top: 8vh;
    min-width: 670px;
    height: auto;
    width: 100%;
}

@media screen and (max-width: 820px) {
    .col {
        width: 100%;
        height: 20vh;
    }
    .col-left p {
        padding: 0 10vw;
        left: 0;
        font-size: 12pt;
        margin-top: 50%;
    }
    .col img {
        padding-top: 0vh;
        min-width: 0px;
    }
}

@media screen and (max-width: 410px) {
    .col-left p {
        font-size: 11pt;
    }
}