#competicao {
   margin-top: -0.5vh;
   background-image: url("../images/bk.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

#titulo h1 {
   font-weight: bold;
   color: #ffa700;
   font-size: 5vw;
}

#titulo {
   padding: 5px;
   padding-top: 2vh;
   padding-bottom: 5vh;
   font-weight: lighter;
}

#inicio {
   height: auto;
   text-align: center;
   padding: 28vh 5vw 0vh 5vw;
   color: #535353;
   overflow-y: hidden;
}

#inicio p {
   font-size: 110%;
   margin: auto;
   display: block;
   width: 80vw;
   padding: 10vh 1vw;
   text-align: justify;
   font-weight: lighter;
   line-height: 1.6em;
}

#informacoes {
   padding: 5vh 5vw;
   height: 70vh;
   position: relative;
   display: block;
   margin: auto;
   margin-top: 10vh;
}

#a1,
#b1 {
   position: absolute;
   height: 25vh;
   width: 21vw;
   text-align: center;
}

#a2,
#b2 {
   position: absolute;
   height: 25vh;
   width: 21vw;
   margin-left: 23vw;
   text-align: center;
}

#a3,
#b3 {
   position: absolute;
   height: 25vh;
   width: 21vw;
   margin-left: 46vw;
   text-align: center;
}

#a4,
#b4 {
   position: absolute;
   height: 25vh;
   width: 21vw;
   margin-left: 69vw;
   text-align: center;
}

#a5,
#b5 {
   position: absolute;
   height: 25vh;
   width: 21vw;
   margin-top: 29vh;
   text-align: center;
}

#a6,
#b6 {
   position: absolute;
   height: 25vh;
   width: 21vw;
   margin-left: 23vw;
   margin-top: 29vh;
   text-align: center;
}

#a7,
#b7 {
   position: absolute;
   height: 25vh;
   width: 21vw;
   margin-left: 46vw;
   margin-top: 29vh;
   text-align: center;
}

#a8,
#b8 {
   position: absolute;
   height: 25vh;
   width: 21vw;
   margin-left: 69vw;
   margin-top: 29vh;
   text-align: center;
}

#a1,
#a2,
#a3,
#a4,
#a5,
#a6,
#a7,
#a8 {
   background-color: #efefef;
   border-radius: 5px;
   cursor: pointer;
   background-image: url("../images/cartao.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   border: 3px solid #5e843a;
   /*verde: #6a9643 ou cinzento:#efefef */
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   text-align: center;
}

#a1 p,
#a2 p,
#a3 p,
#a4 p,
#a5 p,
#a6 p,
#a7 p,
#a8 p {
   color: #ffffff;
   font-weight: bolder;
}

#competicao p {
   padding-top: 10vh;
}

#a1:hover,
#a2:hover,
#a3:hover,
#a4:hover,
#a5:hover,
#a6:hover,
#a7:hover,
#a8:hover {
   opacity: 0;
   transition: opacity 0.3s;
   -webkit-transition: opacity .25s ease-in-out;
}

#b1 p,
#b2 p,
#b3 p,
#b4 p,
#b5 p,
#b6 p,
#b7 p,
#b8 p {
   color: #6a9643;
   /*verde ou cinzento??*/
   padding-top: 0;
}

#opcoes {
   padding-top: 10vh;
   padding-left: 7vw;
   padding-right: 7vw;
   position: relative;
   display: block;
   height: 55vh;
   color: white;
}

#teamdesign,
#teamdesigntexto {
   padding-top: 15vh;
   width: 40vw;
   height: 45vh;
   position: absolute;
   border: 3px solid #316084;
}

#casestudy,
#casestudytexto {
   padding-top: 15vh;
   width: 40vw;
   height: 45vh;
   margin-left: 45vw;
   position: absolute;
   border: 3px solid #ff8900;
}

#teamdesign,
#teamdesigntexto {
   background-image: url("../images/TD.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 0;
}

#teamdesigntexto {
   background-image: url("../images/TD2.jpg");
   background-position: center;
   color: #274e6d;
}

#casestudy,
#casestudytexto {
   background-image: url("../images/CS.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding-top: 0;
}

#casestudytexto {
   background-image: url("../images/CS2.jpg");
   color: #ff6c00;
   background-position: center;
}

#teamdesigntexto,
#casestudytexto,
#teamdesign,
#casestudy {
   padding: 1vw;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
   cursor: pointer;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   text-align: center;
}

#teamdesigntexto p,
#casestudytexto p {
   padding: 0 30px;
}

#teamdesign:hover,
#casestudy:hover {
   opacity: 0;
   transition: opacity 0.3s;
   -webkit-transition: opacity .25s ease-in-out;
}

.inscricao .button {
   display: inline-block;
   margin: 0vh 17vw;
   padding: 10px 40px;
   background-color: transparent;
   border-radius: 5px;
   font-family: "Lato";
   font-size: 90%;
   cursor: pointer;
}
.inscricao{margin: auto;display: block;}

#bTD,
#bCS {
   border: 3px solid #adadad;
   color: #adadad;
}

.button {
   -webkit-transition-duration: 0.2s;
   /* Safari */
   transition-duration: 0.2s;
}

#bTD:hover {
   border: 3px solid #3a719c;
   /* Green */
   color: #3a719c;
}

#bCS:hover {
   border: 3px solid #ff9d00;
   /* Green */
   color: #efa525;
}

.opcoes {
   padding-bottom: 17vh;
}

#competicao h1 {
   font-size: 4em;
}

#competicao h2 {
   font-size: 180%;
   padding-top: 1vh;
}

#competicao h3 {
   padding-top: 30px;
   font-size: 1em;
}

#primeiro {
   padding-left: 5vw;
   padding-right: 5vw;
    margin: auto;
}

#b1,
#b2,
#b3,
#b4,
#b5,
#b6,
#b7,
#b8 {
   padding: 1vw;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   justify-content: center;
}

#b1 p,
#b2 p,
#b3 p,
#b4 p,
#b5 p,
#b6 p,
#b7 p,
#b8 p {
   font-size: 80%;
}

#teamdesign h2,
#casestudy h2 {
   padding-top: 0;
}

#regulamento{ margin-bottom: 10vh;}
#regulamento p{font-size: 150%;}
#regulamento a{text-decoration: underline; color: #6a9643; }
#regulamento a:hover{text-decoration:none; }

#horario img {
   width: 60vw;
   padding-top: 10vh;
   background-repeat: no-repeat;
   background-size: 100% 100%;
}

@media screen and (max-width: 650px) {
   #horario img {
      width: 80vw;
   }
}


@media screen and (max-width: 500px) {
   #horario img {
      width: 100vw;
   }

}
/*1200  - o tamnho está bom
os cartões devem passar a ficar centrados*/
@media screen and (max-width: 1200px) {
   #opcoes {
      text-align: center;
      margin: auto;
      display: block;
   }
    .opcoes .button {
      margin: 0vh 16vw;
   }
    
}

@media screen and (max-width: 900px) {
   .opcoes .button {
      margin: 0vh 13vw;
       padding: 10px 38px;
   }

}

#teamdesign,
#teamdesigntexto {
   padding-top: 2vh;
   width: 40vw;
   height: 45vh;
   position: absolute;
   border: 3px solid #316084;
}

#casestudy,
#casestudytexto {
   padding-top: 2vh;
   width: 40vw;
   height: 45vh;
}

